.cb-all {
  display: flex;
  .cb-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--color-two);
    padding: 3px;
    transition: 0.5s;
    h2 {
      font-size: 12px;
      font-weight: bold;
      justify-self: flex-end;
      align-self: flex-end;
    }
    .cb-rond {
      width: 15px;
      height: 15px;
      background-color: var(--color-four);
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background-color: var(--color-three);
      }
    }
  }
  .private-false {
    transform: translateX(0);
  }
  .private-true {
    transform: translateX(4px);
  }
}
