.search-all {
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
 

  .search-h2 {
    align-self: flex-start;
    h2 {
      position: relative;
      margin-top: -1em;
      font-family: "Satisfy", cursive;
      font-size: 50px;
      color: var(--color-four);
      z-index: 0;
      &::before {
        z-index: -1;
        top: 2px;
        left: 1px;
        position: absolute;
        content: "Recherche";
        color: var(--color-one);
      }
    }
  }

  .search-wrapper {
    z-index: 0;
    position: relative;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-three);
    width: 60%;
    padding: 1em;
    border-radius: 5px;
    
    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      top: -3px;
      left: -3px;
      background-color: var(--color-two);
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  .select-inputs {
    display: flex;
    place-content: center;
    width: 100%;
    input[type="text"] {
      width: 60%;
      background-color: var(--color-one);
      border: none;
      border-width: 0;
      padding: 1em;
      border-radius: 0 5px 5px 0;
      font-weight: bolder;
      color: var(--color-four);
    }
    select {
      background-color: var(--color-one);
      border: none;
      border-width: 0;
      padding: 1em;
      border-radius: 5px 0 0 5px;
      font-weight: bolder;
      color: var(--color-four);
    }
  }
  .search-card-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-four);
    font-weight: bolder;
  
    
  }
  .search-card-result {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--color-two);
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 100px;
  
    & > * {
      margin: 1em;
    }
  }
}

@media screen and (max-width: 550px) {
  .search-all {
    .search-wrapper {
      width: 85%;
    }
    .search-card-result {
      width: 85%;
      justify-content: center;
    }
  }
}
